<!doctype html>
<html ng-app="BasicChat">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon-precomposed" href="/media/angularjs-png">
    <link rel="shortcut icon" href="/media/angularjs-png">

    <title>AngularJS Basic Chat</title>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="filters.js"></script>
    <script src="names.js"></script>
    <script src="races.js"></script>
    <script src="blames.js"></script>
    <script src="api.js"></script>
    <script src="deck.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-app="BasicChat">
        <div class="chat-container" ng-controller="BasicController">

            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <!-- Chat Messages -->
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <div class="chat-messages">
                <div class="chat-header">
                    <div class="angularjs-chat-logo"></div>
                    Dog Game
                </div>
                <div class="status">
                    <p>Nome: {{dog.name}}</p>
                    <p>Life: {{dog.life}}</p>
                    <p>Stress: {{dog.stress}}</p>
                </div>
                <div ng-repeat="message in messages track by $index">

                    <div class="sent-message" ng-class="{me: message.user.name != me.name}">
                        <span class="username">{{ message.user.name }}:</span>
                        {{ message.data }}
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <form class="chat-input">
                <a href="#" ng-click="select(1)">{{ options[0].message }}</a></br>
                <a href="#" ng-click="select(2)">{{ options[1].message }}</a>  
            </form>
        </div>
    </div>
</body>
</html>
